@model IEnumerable<Event>

<h2>Approval/Rejection</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Event Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.EventName</td>
                    <td>@course.EventDescription</td>
                    <td>
                        <form asp-action="ApproveEvent" method="post">
                            <a asp-action="ApproveEvent" asp-route-id="@course.EventId">Approve</a>
                        </form>
                        <form asp-action="RejectEvent" method="post">
                            <a asp-action="RejectEvent" asp-route-id="@course.EventId">Reject</a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Event found.</p>
}